.high-header {
    display: flex;
    padding: 1rem;  
    justify-content: space-between;
}
.top-button {
    display: flex;
    padding: 1rem;  
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}