.high-header {
    display: flex;
    padding: 1rem;  
    justify-content: space-evenly;
}

.upper-box {
    display: flex;
    align-content: space-evenly;
    justify-items: center;
    justify-content: space-evenly;
}
.left-side {
    margin-right: 17rem;
}


ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.hook {
    display: flex;
}